<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Event: {{event.name}}</div>
    <div>Detail:{{event.detail}}</div>
    <div>Location: {{event.location}}</div>
    <div>Date: {{event.datetime}}</div>
    <div>Do you want to Register in this event:</div>

    <form action="http://127.0.0.1:8000/app/register/form/" method="post">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="id" value="{{event.id}}"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>